/*첫 번째 챌린지*/
.box{
    border: 50px solid red;
    width: 200px;
    padding: 50px;
    margin-bottom: 20px;
}

.green{
    border-color:green;
    /* display: none; */
}

.blue{
    border-color:blue;
}

/* 보너스1: 다른 컬러 박스 */
.bonus{
    border-color: #1abc9c;
    /* visibility: hidden; */
}

/* 보너스2: 박스 숨기기 */
    /* display: none; 공간 삭제O */
    /* visibility: hidden; 공간 삭제X*/


#description {
    font-size: 16px;
    color: #555; 
    margin: 5px 0; 
  }


/* 두 번째 챌린지 */
.challenge2 {
    background-color: #fff;
    background-image:
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
    padding-left: 10%;
}

h1{
    color:#9b59b6;
}

p{
    font-size: 16px; 
    font-family: Verdana;
    font-style: italic;
}

.sub-header{
    color:#2980b9;
}

p::first-letter {
    
    font-size: 200%;
    color: #2980b9;
  }

h1::before {
    content: "Topic: ";
  }

h1:first-child {
    text-align: center;
  }